.contenedor {
    background-color: green;
    display: flex;
    justify-content: center;
}

.contenedor input {
    margin-bottom: 20px;
    width: 300px;
}

.contenedor label {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.danger {
    background-color: rgba(255, 0, 0, 0.535);
    color: white;
}
